<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/currencyrates">Currencies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Euro Buy</th>
        <th scope="col">Euro Sell</th>
        <th scope="col">Dollar Buy</th>
        <th scope="col">Dollar Sell</th>
        <th scope="col">CHF Buy</th>
        <th scope="col">CHF Sell</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="rates : ${rates}">
    <tr>
        <!--<th scope="row">1</th>-->
        <th th:text="${rates.getCantorName()}"></th>
        <th th:text="${rates.getEuroBuy()}"></th>
        <th th:text="${rates.getEuroSell()}"></th>
        <th th:text="${rates.getDollarBuy()}"></th>
        <th th:text="${rates.getDollarSell()}"></th>
        <th th:text="${rates.getChfBuy()}"></th>
        <th th:text="${rates.getChfSell()}"></th>
        <!--<td>Mark</td>-->
        <!--<td>Otto</td>-->
        <!--<td>@mdo</td>-->
    </tr>
    </th:block>
    <!--<tr>-->
        <!--<th scope="row">2</th>-->
        <!--<td>Jacob</td>-->
        <!--<td>Thornton</td>-->
        <!--<td>@fat</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<th scope="row">3</th>-->
        <!--<td colspan="2">Larry the Bird</td>-->
        <!--<td>@twitter</td>-->
    <!--</tr>-->
    </tbody>
</table>


</body>
</html>